<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Se você tiver estilos -->
</head>
<body>
    <header>
        <h1>Assistência Técnica</h1>
        <nav>
            <!-- Links de navegação -->
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Assistência Técnica</p>
    </footer>
</body>
</html>
